@use "./style.scss";

.news {
  background: rgb(245, 77, 252);
  background: linear-gradient(
    90deg,
    rgba(245, 77, 252, 1) 0%,
    rgba(157, 126, 253, 1) 42%,
    rgba(100, 92, 254, 1) 66%,
    rgba(0, 48, 255, 1) 100%
  );
  height: 24px;
  text-align: center;
  padding-top: 5px;
}

.transparent-header {
  box-shadow: none;
  border-bottom: none !important;

  // fixed on top

  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 0.35s ease 0s;
}

.scrolled {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background: var(--bg-100-50) !important;
  backdrop-filter: saturate(180%) blur(20px);
}

.header-container {
  width: calc(100% - 8px);

  height: 52px;
  align-items: center;
  border-bottom: 1px solid var(--bg-300);

  .header {
    width: 75%;
    height: 30px;

    margin: 0 auto;
    padding-top: 11px;
    display: flex;
  }

  button,
  a {
    background-color: #ffffff00 !important;
  }

  .item-1 {
    font-size: 18px;
    padding-top: 3px;
  }

  .item-2 {
    margin-left: 40px;

    display: flex;

    a,
    button {
      font-size: 14px;
      margin-right: 10px;
    }

    i {
      font-size: 15px;
    }
  }

  .item-3 {
    margin-left: auto;
    display: flex;
    a.big-icon {
      padding-top: 3px;
      display: inline-block;

      i {
        font-size: 24px;
      }
    }

    button {
      border: none;
      font-size: 18px;
      padding-top: 6px;
      margin-right: 15px;
      cursor: pointer;
    }

    p {
      margin: 0;
      padding-top: 6px;
      margin-right: 15px;
      font-size: 18px;
      cursor: pointer;

      animation: shake 4s;

      animation-iteration-count: infinite;

      i {
        color: var(--primary-100);
      }
    }
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(18deg);
  }
  30% {
    transform: rotate(0eg);
  }
  45% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
}

i {
  vertical-align: top;
}

.title-container {
  width: 100%;
  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  width: 80%;
  padding: 100px 0;
  margin: 0 auto;

  text-align: center;

  h1 {
    font-size: 38px;
    font-weight: 700;

    .gra {
      background: -webkit-linear-gradient(
        315deg,
        #427cd3 25%,
        #256ca7 50%,
        #b964ff 74%,
        #ec63af
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 800;
    }
  }
}

.actions {
  button {
    background-color: var(--bg-200) !important;
    padding: 10px 20px !important;
    margin-right: 10px;

    box-shadow: var(--bg-300) 0px 1px 3px 0px, var(--bg-300) 0px 1px 2px 0px;
  }

  button:hover {
    transform: translateY(-3px);
    background-color: var(--primary-100-50) !important;
  }
}

.menu-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  background-color: var(--bg-100);
  padding: 16px;

  i {
    padding-right: 5px;
  }
}

.docs-icon {
  font-size: 0.95rem;
  background-color: var(--primary-100-50);
  color: var(--primary-100-dark);
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 2px;
}

.code-example {
  margin: 25px auto;
  margin-bottom: 50px;
}
.title-example {
  margin: 0 auto;
  .code-block-example {
    border-radius: 5px;
    padding: 10px;
    width: 180px;
    margin: 0 auto;

    background-color: #292d3e;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 29px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    p,
    a {
      font-size: 13px;
      padding: 3px 5px;
      margin: 0;
      color: rgb(186, 190, 216);
    }

    p.code-line:hover {
      background-color: #1d202c;
      a {
        background-color: #1d202c;
      }
    }

    .code-line-highlight {
      color: #e7cd76;
    }
    .code-line-dark {
      color: rgb(130, 134, 163);
    }

    a {
      color: rgb(122, 132, 201);
      text-decoration: underline 1px solid;
    }
  }
}

.code-block-example {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 0.875em;
  border-radius: 2px;
}

.product-container {
  justify-content: center;
  width: 100%;
  height: 560px;
  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 125px;

  .title {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
  }
}

.menu-categories {
  border-bottom: 1px solid var(--bg-200-light);
  padding-bottom: 20px;
  margin-bottom: 20px;

  i,
  h4 {
    transition: all 0.1s ease 0s;
  }

  .category-button.category-active {
    background-color: var(--bg-200);

    i,
    h4 {
      color: var(--primary-100) !important;
    }
  }

  .category-button {
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.1s ease 0s;

    a {
      display: flex;
    }

    .category-button-icon {
      padding-top: 8px;

      i {
        color: var(--text-300);
      }
    }

    .category-button-text {
      h4 {
        color: var(--text-300);
        font-size: 0.95rem;
        padding-top: 7px;
        padding-left: 12px;
      }
    }

    h4 {
      margin: 0;
    }
  }

  .category-button:hover {
    background-color: var(--bg-200);
  }
}

.info-v3 {
  --dot-bg: var(--bg-100);
  --dot-color: var(--bg-200);
  --dot-size: 3px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);

  .info-v3-content {
    width: 55%;
    max-width: 910px;
    margin: 50px auto;
    padding-bottom: 50px;

    .post {
      width: 100% !important;
      max-width: none;
    }
  }
}
