.content {
  flex-grow: 1;
  overflow: auto;
}

.content-flex {
  display: flex;
  width: 100%;
  justify-content: center;
}

.post {
  font-size: 16px;
  margin-top: 50px;
  max-height: 100%;
}

blockquote {
  border-left: 3px solid var(--bg-300);
  padding-left: 15px;
  margin-left: 0;
}

// code

div[data-rehype-pretty-code-figure],
div[data-rehype-pretty-code-fragment] {
  margin: 30px 0;
}

div[data-rehype-pretty-code-title] {
  border-radius: 8px 8px 0 0;
  background-color: #f8f8f8;
  color: #424242;

  font-size: 12px;
  padding: 12px 20px 12px 20px;

  i {
    vertical-align: top;

    font-size: 14px;
    color: #7d7f8f !important;
    margin-right: 8px;
  }

  button {
    font-size: 12px;
    float: right;
    background-color: inherit;
    border: none;
    color: #7d7f8f;
    transition: all 0.2s ease 0s;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;

    i {
      font-size: 1rem;
    }
  }
  button:hover {
    cursor: pointer;
  }
}

.dark div[data-rehype-pretty-code-title] {
  background-color: var(--bg-200);
  color: #7d7f8f;
  border-bottom: 1px solid #313546;
}

.code-block {
  width: 100%;
  border-radius: 0 0 8px 8px;
  display: block;
  overflow-x: auto;

  pre {
    margin: 0;
    padding: 0.85em 1.05rem;
    overflow: auto;
  }

  code {
    counter-reset: line;
    line-height: 1.75;
    padding: 0 6px;
  }
}

.code-block {
  pre {
    background-color: var(--bg-200);
  }

  code {
    span[data-highlighted-line] {
      background-color: var(--bg-100);
    }
  }
}

:not(pre) > code {
  margin: 3px;
  padding: 2.5px 6px;
  color: var(--text-100);
  background-color: inherit;
  letter-spacing: normal;
  border-radius: 5px;
  background-color: var(--bg-250);
}

code {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  border-radius: 2px;
}

h2,
h3,
h4 {
  a {
    margin-left: -0.9em;
    padding-right: 5px;
    color: var(--bg-100) !important;
    font-weight: 500;
    font-size: 1.55rem;
    transition: all 0.1s ease 0s;
  }
}
h2:hover,
h3:hover,
h4:hover {
  a {
    color: var(--primary-100) !important;
  }
}
table {
  border-top: 1px solid var(--bg-300);
  border-collapse: collapse;
  font-size: 14px;
  border-radius: 25px;
}
th,
td {
  text-align: left;
  border-bottom: 1px solid var(--bg-300);
  padding: 10px 20px;
}

tbody tr:nth-child(even) {
  background-color: var(--bg-200);
}

.post {
  h2 {
    margin: 1.75em 0 0.6em;
  }

  h3 {
    margin: 1em 0 0.6em;
  }
}

.fade-in-left {
  opacity: 0;

  animation: fadeInLeft 0.2s ease-out forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-3px); /* 좌측에서 1~2px */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

nav {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  margin-top: 50px;
  padding-left: 20px;
  width: 150px;
  top: 50px;
  align-self: flex-start; /* <-- this is the fix */

  ul {
    padding-left: 0px;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 4px;
    padding-bottom: 8px;
    // border-bottom: 1px solid var(--bg-300);
  }

  li {
    transition: all ease 0.25s 0s;
    border-left: 1px solid var(--bg-300);
    padding: 3px 12px;
    font-size: 13px;
  }

  .no-a {
    font-size: 13px;
    font-weight: 500;
  }

  a {
    transition: all ease 0.25s 0s;
    color: var(--text-300);
    text-decoration: none;
  }

  li.active {
    border-left: 1px solid var(--primary-100);
  }

  li.active > a {
    color: var(--primary-100);
  }

  li > a:hover {
    color: var(--text-100);
  }

  .table-actions {
    i {
      font-size: 16px;
      padding-right: 4px;
      padding-top: 5px;
    }
    a {
      font-size: 0.875rem;
      font-weight: bold;
    }
  }
}

.post {
  margin-bottom: 50px;
  a {
    color: var(--primary-100);
    transition: all 0.1s ease 0s;
  }
  a:hover {
    text-decoration: underline;

    color: var(--primary-100-dark);
  }

  h2 {
    margin: 5px 0 16px;
    letter-spacing: -0.02em;
    padding-top: 24px;
    //  border-top: 1px solid var(--bg-400);
  }

  ul {
    padding: 0;
  }

  li {
    margin: 8px 0px;
  }

  p {
    line-height: 30px;
  }

  hr {
    background: var(--bg-300);
    height: 1px;
    border: 0;
  }

  li::marker {
    color: var(--bg-400) !important;
  }
}

ol {
  padding-left: 16px;

  li::marker {
    color: var(--text-300) !important;
  }
}

a {
  code:not([data-language]) {
    color: var(--primary-100);
    text-decoration: underline;
    background-color: inherit !important;
  }
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
}

.dark {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}

.directory {
  display: flex;

  i {
    color: var(--text-400);
    font-size: 0.95rem;
    padding-top: 3px;
  }
  .directory-path {
    color: var(--text-300);
    font-size: 1.05rem;
    padding: 0px 2px;
  }

  .directory-path:last-child {
    font-weight: bold;
    color: var(--text-100);
  }
}
