@use "./post.scss";

@media only screen and (max-width: 1100px) {
  nav {
    display: none;
  }

  .prenext {
    display: block;
  }

  .documentation {
    display: inline;
  }
}

.documentation {
  height: calc(100% - 92px);
  display: flex;
  --dot-bg: var(--bg-100);
  --dot-color: var(--bg-200-light);
  --dot-size: 2px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);

  h1,
  h2,
  h3,
  h4 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
  }

  .menu {
    width: 260px;
    height: 100%;
    overflow: auto;

    .menu-layout {
      margin: 15px;
      padding-bottom: 60px;
    }

    .category {
      margin-bottom: 10px;

      button.no-btn:first-child {
        width: 100%;
        text-align: left;
      }

      h4 {
        margin-top: 12px;
        margin-bottom: 4px;

        width: 100%;
        color: var(--text-200);
        display: flex;

        button.text-inter {
          transition: all 0.3s ease 0s;
          font-weight: 600;
          padding: 5px 12px;
          border-radius: 4px;
        }
        button.text-inter:hover {
          color: var(--primary-100);
        }

        button.active {
          color: var(--primary-100);
        }

        i {
          color: inherit;
          transition: all 0.1s ease 0s;
          float: right;
        }
      }

      .posts {
        padding-left: 8px;

        div {
          width: 100%;
          border-left: 1px solid var(--bg-300);
          transition: all 0.3s ease 0s;
          padding: 2px 7px;
          color: red;
        }

        a {
          display: block;
          font-size: 13px;
          border-radius: 3px;
          font-weight: 500;
          width: 80%;
          color: var(--text-400);
        }

        a:hover {
          color: var(--text-100);
        }

        a.active {
          color: var(--primary-100);
          background-color: var(--primary-100-50) !important;
        }
        div:has(.active) {
          border-left: 1px solid var(--primary-100);
        }
      }
    }

    .category.hide {
      .posts {
        display: none;
      }
      h4 i {
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }
}

.content-flex {
  width: 100%;
}

.post {
  width: 620px;
  max-width: 620px;

  .intro {
    h1 {
      font-size: 35px;
    }
  }
}

.prenext {
  margin-top: 55px;
  width: 100%;

  display: flex;

  a {
    width: calc(50% - 10px);

    font-size: 14px;

    margin: 10px;
    padding: 10px 15px;

    h4 {
      font-weight: 400;
      font-size: 12px;
      color: var(--text-200);
      margin: 0;
      padding-top: 2px;
    }

    p {
      margin: 0;
    }
  }

  a:nth-child(even) {
    text-align: right;
    margin-left: auto;
  }
}
