.blog-info {
  margin-bottom: 20px;

  padding-bottom: 20px;

  border-bottom: 1px solid var(--bg-400);

  h1 {
    margin: 0;
    font-size: 2.45rem;
  }

  span {
    color: var(--text-300);
  }

  .blog-count {
    color: var(--primary-100);
    font-weight: bold;
  }
}

.blog-container {
  width: 40%;
  margin: 50px auto;
  a {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bg-400);
  }

  h2 {
    margin: 0;
    color: var(--text-100);
  }

  h2:hover {
    text-decoration: underline;
  }

  p {
    margin-top: 5px;
    font-size: 0.925rem;
    color: var(--text-300);
  }
}
