.news {
  background: rgb(245, 77, 252);
  background: linear-gradient(
    90deg,
    rgba(245, 77, 252, 1) 0%,
    rgba(157, 126, 253, 1) 42%,
    rgba(100, 92, 254, 1) 66%,
    rgba(0, 48, 255, 1) 100%
  );
  height: 24px;
  text-align: center;
  padding-top: 5px;
}

.header-container {
  width: 100%;
  height: 62px;
  align-items: center;
  border-bottom: 1px solid var(--bg-300);

  .header {
    width: 75%;
    height: 30px;

    margin: 0 auto;
    padding-top: 15px;
    display: flex;
  }

  .item-1 {
    font-size: 18px;
    padding-top: 3px;
  }

  .item-2 {
    margin: 0 auto;
    display: flex;

    a,
    button {
      font-size: 14px;
      margin-right: 10px;
    }

    i {
      font-size: 15px;
    }
  }

  .item-3 {
    display: flex;
    a.big-icon {
      padding-top: 3px;
      display: inline-block;

      i {
        font-size: 24px;
      }
    }

    button {
      border: none;
      font-size: 18px;
      padding-top: 6px;
      margin-right: 15px;
      cursor: pointer;
    }

    p {
      margin: 0;
      padding-top: 6px;
      margin-right: 15px;
      font-size: 18px;
      cursor: pointer;

      animation: shake 5s;

      animation-iteration-count: infinite;

      i {
        color: var(--primary-100);
      }
    }
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(18deg);
  }
  20% {
    transform: rotate(0eg);
  }
  30% {
    transform: rotate(-18deg);
  }
  40% {
    transform: rotate(0deg);
  }
}

i {
  vertical-align: top;
}

.title-container {
  width: 100%;
  background-image: url('/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  width: 80%;
  padding: 100px 0;
  margin: 0 auto;

  h1 {
    font-size: 35px;

    .grad {
      background: -webkit-linear-gradient(315deg, #427cd3 25%, #b964ff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
    }
  }
}

.actions {
  button {
    background-color: var(--bg-200) !important;
    padding: 10px 20px !important;
    margin-right: 10px;
  }
}

.menu-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  background-color: var(--bg-100);
  padding: 16px;

  i {
    padding-right: 5px;
  }
}

.docs-icon {
  font-size: 0.95rem;
  background-color: var(--primary-100-50);
  color: var(--primary-100-dark);
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 2px;
}

.title-example {
  margin-top: 150px;
  margin-right: 50px;
  .code-block-example {
    padding: 10px;
    border-radius: 5px;
    width: 390px;
    text-align: center;

    background-color: #292d3e;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 6px 29px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    p,
    a {
      font-size: 13px;
      padding: 3px 5px;
      margin: 0;
      color: rgb(186, 190, 216);
    }

    p.code-line:hover {
      background-color: #1d202c;
      a {
        background-color: #1d202c;
      }
    }

    .code-line-highlight {
      color: #e7cd76;
    }
    .code-line-dark {
      color: rgb(130, 134, 163);
    }

    a {
      color: rgb(122, 132, 201);
      text-decoration: underline 1px solid;
    }
  }
}

.code-block-example {
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 0.875em;
  border-radius: 2px;
}

.product-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url('/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    width: 500px;
    margin: 0;
  }
}
