.changelog-container {
  width: 65%;
  margin: 50px auto;

  .changelog {
    display: flex;

    .changelog-date {
      margin-top: 35px;
      padding-top: 10px;

      font-weight: bold;
      font-size: 1.05rem;
      width: 170px;
      border-right: 2px solid var(--primary-100-50);
      transition: all 0.4s ease 0s;
    }

    .post {
      margin-top: 0 !important;
      margin-left: 50px;
      padding-top: 10px;

      h2:target {
        color: var(--primary-100-dark);
      }
    }

    .post-container.closed {
      text-overflow: ellipsis;
      max-height: 100px;
      overflow: hidden;
    }
  }

  .changelog:not(:has(.closed)) {
    .changelog-date {
      color: var(--primary-100);
    }
  }
}
