.blog {
  width: 47%;
  margin: 70px auto;
  font-size: 16px;

  .intro {
    font-size: 18px;
    margin-bottom: 40px;
    padding-bottom: 30px;

    border-bottom: 1px solid var(--bg-400);

    h1 {
      margin: 5px 0;
    }

    span {
      font-size: 14px;
      color: var(--text-300);
    }
  }

  .content-container {
    padding-bottom: 50px;
  }
}

.blog {
  h2 {
    margin: 1.75em 0 0.6em;
  }

  h3 {
    margin: 1em 0 0.6em;
  }

  h2 {
    margin: 40px 0 16px;
    letter-spacing: -0.02em;
    padding-top: 24px;
    border-top: 1px solid var(--bg-400);
  }

  a {
    color: var(--primary-100);
    transition: all 0.1s ease 0s;
  }
  a:hover {
    text-decoration: underline;

    color: var(--primary-100-dark);
  }
}
