// button

button.btn,
a.btn {
  color: var(--text-100);
  background-color: var(--bg-100);

  border: none;
  border-radius: 7px;

  padding: 5px 10px;

  font-size: 15px;
  font-weight: 700;
  transition: all 0.1s ease 0s;
  i::before {
    transition: all 0.1s ease 0s;
  }
}

button.btn:hover,
a.btn:hover {
  background-color: var(--primary-100-50) !important;
  color: var(--primary-100);

  i::before {
    color: var(--primary-100);
  }
}

a.popover.btn:focus,
button.popover.btn:focus {
  background-color: var(--primary-100-50) !important;
  color: var(--primary-100);

  i::before {
    color: var(--primary-100);
  }
  i::before {
    display: inline-block;
    transform: rotate(180deg);
  }
}
// popover

.popover-menu {
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  position: relative;

  background: var(--bg-100);

  border-radius: 5px;
  box-shadow: var(--bg-200) 0px 2px 8px 0px;

  transition:
    opacity 0.1s,
    visibility 0.1s;

  .menu-item {
    border-radius: 8px;
    transition: all 0.1s ease 0s;

    .menu-container {
      display: flex;
      padding: 10px;
    }

    .menu-icon {
      width: 32px;
      height: 22px;
      background-color: var(--primary-100);
      padding-top: 8px;
      text-align: center;
      border-radius: 5px;

      i {
        color: #fff !important;
      }
    }

    .menu-content {
      padding-left: 15px;
      vertical-align: middle;
      font-size: 13px;
      color: var(--text-200);

      h4 {
        font-size: 14px;
        color: var(--text-100);
        margin: 0;
      }
    }
  }

  .menu-item:hover {
    background-color: #fd1ec50e;
  }
}

.popover-menu[data-show='true'] {
  visibility: visible;
  opacity: 1;
}

.box {
  padding: 7px 20px 14px 20px;
  border-radius: 8px;

  font-size: 1.05rem;
  margin: 30px 0;
  background-color: var(--bg-200);

  p {
    margin: 0;
    color: var(--text-100);
  }

  div[data-rehype-pretty-code-fragment] {
    margin: 5px 0;

    div[data-rehype-pretty-code-title] {
      display: none;
    }
    .code-block {
      border-radius: 6px;
    }
  }

  p.box-title {
    font-size: 0.975rem;
    font-weight: bold;
  }

  code:has(data-language) {
    background-color: var(--bg-200) !important;
  }

  code:not([data-language]) {
    background-color: inherit !important;
    border-radius: 4px;
  }
}

.dark {
  .box-info {
    border: 1px solid #4e4e4e42;
    background-color: #4e4e4e28;

    code:not([data-language]) {
      background-color: #4e4e4e27 !important;
      border-radius: 4px;
    }
  }
  .box-warning {
    border: 1px solid #7a77464b;
    background-color: #7a774623;

    code:not([data-language]) {
      background-color: #7a77462a !important;
      border-radius: 4px;
    }
  }
  .box-error {
    border: 1px solid #8a424242;
    background-color: #8a424221;

    code:not([data-language]) {
      background-color: #8a42421c !important;
      border-radius: 4px;
    }
  }
  .box-tip {
    border: 1px solid #4d5d924b;
    background-color: #4d5d922a;

    code:not([data-language]) {
      background-color: #4d5d9228 !important;
      border-radius: 4px;
    }
  }
}

.box-info {
  border: 1px solid #4e4e4e18;
  background-color: #4e4e4e0a;

  code:not([data-language]) {
    background-color: #4e4e4e0e !important;
    border-radius: 4px;
  }
}
.box-warning {
  border: 1px solid #ada72c25;
  background-color: #ada62c13;

  code:not([data-language]) {
    background-color: rgba(173, 166, 44, 0.082) !important;
    border-radius: 4px;
  }
}
.box-error {
  border: 1px solid #bd2e2e21;
  background-color: #bd2e2e13;

  code:not([data-language]) {
    background-color: rgba(189, 46, 46, 0.075) !important;
    border-radius: 4px;
  }
}
.box-tip {
  border: 1px solid #1d4f9b21;
  background-color: #1d4f9b13;

  code:not([data-language]) {
    background-color: #1d4f9b11 !important;
    border-radius: 4px;
  }
}

pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 5px;
}

pre::-webkit-scrollbar-thumb {
  height: 30%;
  background: #525a7ebe;

  border-radius: 10px;
}

pre::-webkit-scrollbar-track {
  background: inherit;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
