@use "./vars.scss";
@use "./components.scss";
@use "./custom.scss";
@use "./pages/index.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.text {
  font-family: "Nunito Sans", sans-serif;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 600;

  img {
    height: 100%;
  }
}

.text-inter {
  font-family: "Inter", sans-serif;
}

.flex {
  display: flex;
}

button {
  color: var(--text-100);
  background-color: var(--bg-100);
}

i {
  color: var(--text-100);
}

a {
  color: var(--text-100);
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.btn:hover {
  cursor: pointer;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;

  color: var(--text-100);
  background-color: var(--bg-100);

  width: 100vw;
  height: 100vh;

  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;

  transition: background-color 0.15s ease-in-out;

  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

#_app {
  width: 100%;
  height: 100%;
}

.no-btn {
  background-color: inherit;
  border: none;
}
.no-btn:hover {
  cursor: pointer;
}

select {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-100);
  color: var(--text-100);
  border-radius: 5px;
  padding: 2px;
  border: 1px solid var(--bg-300);
  outline: none;
}

button.a {
  color: var(--primary-100);
  font-size: 14px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}
button.a:hover {
  text-decoration: underline;
}
