html {
  --primary-100: #ee6868;
  --primary-100-dark: #e22a2a;
  --primary-100-50: #ee686823;
  --primary-200: #ff9696;
  --primary-300: #fffbff;
  --accent-100: #87ceeb;
  --accent-200: #1a6f89;
  --accent-300: #1560b6;
  --text-100: #2c2c3dd5;
  --text-200: #3d3d3d;
  --text-300: #3d3d3dc5;
  --text-400: #4d4d4dc5;
  --bg-100: #ffffff;
  --bg-200: #f5f5f5;
  --bg-200-light: #e9e9e975;
  --bg-300: #cccccc;
  --bg-400: #b4b4b4;
}

html.dark {
  --primary-100: #e69494;
  --primary-100-dark: #e07474;
  --primary-100-50: #e694941f;
  --primary-200: #ff5f5f;
  --primary-300: #ffc5c5;
  --accent-100: #87ceeb;
  --accent-200: #1a6f89;
  --accent-300: #3e8feb;
  --text-100: #e7e7e7cc;
  --text-200: #e0e0e0dc;
  --text-300: #e0e0e0b7;
  --text-400: #cacacab7;
  --bg-100: #202020;
  --bg-200: #272727;
  --bg-200-light: #33333379;
  --bg-300: #2c2c2c;
  --bg-400: #4d4d4d;
}
