html {
  --primary-100: #4f87de;
  --primary-100-dark: #1e65c8;
  --primary-100-50: #4f87de23;
  --primary-200: #709eef;
  --primary-200-50: #1a6ae085;
  --primary-300: #d0e5ff;
  --accent-100: #87ceeb;
  --accent-200: #1a6f89;
  --accent-300: #1560b6;
  --text-100: #2c2c3dd5;
  --text-200: #3d3d3d;
  --text-300: #3d3d3dc5;
  --text-400: #4d4d4dc5;
  --bg-100: #ffffff;
  --bg-200: #f5f5f5;
  --bg-200-dark: #e4e3e3;
  --bg-250: #f3f3f3;
  --bg-200-light: #e4e4e4;
  --bg-300: #cccccc;
  --bg-400: #b4b4b4;
}

html.dark {
  --primary-100: #4c94ff;
  --primary-100-dark: #5091f1;
  --primary-100-50: #5a9bff20;
  --primary-200: #7eb2ff;
  --primary-200-50: #7eb2ff80;
  --primary-300: #d0e4ff;

  --accent-100: #74d1f6;
  --accent-200: #1b6a80;
  --accent-300: #1d5fb0;

  --text-100: #eeeeeecc;
  --text-200: #d0d0d0;
  --text-300: #bbbbbbcc;
  --text-400: #999999aa;

  --bg-100: #181818;
  --bg-200: #1f1f1f;
  --bg-200-dark: #121212;
  --bg-200-light: #2b2b2b75;
  --bg-250: #272727;
  --bg-300: #2e2e2e;
  --bg-400: #444444;
}
