html {
  --primary-100: #7b87ff;
  --primary-100-dark: #5a60b3;
  --primary-100-50: #7b87ff23;
  --primary-200: #99a3ff;
  --primary-300: #e0e4ff;
  --accent-100: #d1c4ff;
  --accent-200: #9370db;
  --accent-300: #7451b5;
  --text-100: #2c2c3dd5;
  --text-200: #3d3d3d;
  --text-300: #3d3d3dc5;
  --text-400: #4d4d4dc5;
  --bg-100: #ffffff;
  --bg-200: #f5f5f5;
  --bg-200-light: #e9e9e975;
  --bg-300: #cccccc;
  --bg-400: #b4b4b4;
}

html.dark {
  --primary-100: #6673ff;
  --primary-100-dark: #5863e4;
  --primary-100-50: #6673ff1f;
  --primary-200: #8093ff;
  --primary-300: #b3b8ff;
  --accent-100: #d1c4ff;
  --accent-200: #9370db;
  --accent-300: #7451b5;
  --text-100: #f0f0f0cc;
  --text-200: #eaeaea;
  --text-300: #eaeaeab7;
  --text-400: #d8d8d8b7;
  --bg-100: #202020;
  --bg-200: #272727;
  --bg-200-light: #33333379;
  --bg-300: #2c2c2c;
  --bg-400: #4d4d4d;
}
