html {
  --primary-100: #4f87de;
  --primary-100-dark: #1e65c8;
  --primary-100-50: #4f87de23;
  --primary-200: #709eef;
  --primary-200-50: #1a6ae085;
  --primary-300: #d0e5ff;
  --accent-100: #87ceeb;
  --accent-200: #1a6f89;
  --accent-300: #1560b6;
  --text-100: #2c2c3dd5;
  --text-200: #3d3d3d;
  --text-300: #3d3d3dc5;
  --text-400: #4d4d4dc5;
  --bg-100: #ffffff;
  --bg-200: #f5f5f5;
  --bg-200-dark: #e4e3e3;
  --bg-200-light: #e9e9e975;
  --bg-300: #cccccc;
  --bg-400: #b4b4b4;
}

html.dark {
  --primary-100: #769fd8;
  --primary-100-dark: #5a88c2;
  --primary-100-50: #769fd81f;
  --primary-200: #3f80ff;
  --primary-200-50: #3f80ff70;
  --primary-300: #a5c0ff;
  --accent-100: #87ceeb;
  --accent-200: #1a6f89;
  --accent-300: #3e8feb;
  --text-100: #e7e7e7cc;
  --text-200: #e0e0e0dc;
  --text-300: #e0e0e0b7;
  --text-400: #cacacab7;
  --bg-100: #22202c;
  --bg-200: #2b2935;
  --bg-200-dark: #16151b;
  --bg-200-light: #272530a9;
  --bg-300: #363342;
  --bg-400: #504c66;
}
